@{
    ViewData["Title"] = "Home";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WhatIf - By Pradip Puri</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/whatIf.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">WhatIf</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#projects">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">WhatIf</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">A personal blog by Pradip Puri</h2>
                <a href="#about" class="btn btn-primary js-scroll-trigger">What's next?</a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center" style="background-image: url(../img/bg_covid.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">A small effort of my soul.</h2>
                    <p class="text-white-50">
                        Since we all have been locked down into our homes due to COVID 19, we may be wondering why this pandemic has been a pain in our ass.
                        We might not have faced this kind of epidemic over this decade, however, we can still recall back the times when our world communities
                        faced the deadly virus of that period like ebola and all. Unlike our country where epidemics like cholera and malaria kill hundreds of
                        people in a year, for us its like a bug in our nose. Here's what it's like to be at home during these
                        <a href="#">hard times</a>. During this period, we can help each other staying at our home, conversing with strangers (ref. parents) who had been living with us for
                        lifetimes, making good use of yourself at daily chores, and everything you want that you weren't able to do before. Stay Safe! Stay Clean! Peace!
                    </p>
                </div>
            </div>

        </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
        <div class="container">

            <!-- Featured Project Row -->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7">
                    <img class="img-fluid mb-3 mb-lg-0" src="~/img/bg_bhatbhateni.jpg" alt="">
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Bhatbhateni</h4>
                        <p class="text-black-50 mb-0">
                            Bhatbhateni, one of the best supermarkets in Nepal basically known for the better customer service and hospitality, offers a variety of services including home delivery of the necessary items. The delivery service was in action to reduce the crowd at the shopping malls which in turn helps Nepalese to be free from the possible contamination of Covid 19 at public places. People can register into the Bhatbhateni mobile app and cart the necessary items during their stay at home. This is a remarkable effort from the commercialized shopping complex which has been making an effort for the betterment and healthy living of its customers.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Project One Row -->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                    <img class="img-fluid" src="~/img/bg_rara.jpeg" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Rara - Heaven at Earth</h4>
                                <p class="mb-0 text-white-50">
                                    You know what am I proud of? People may be proud of their achievements, properties, knowledge and other tangible things. Yeah, life has been easier with these goods but does that really count? Do these things make you happier every time you catch a sight on? If so, then I must say you haven't explored the world behind those things. As a human, the only thing that fascinated me is nature, which I have got to embrace from the early days. The beauty and the freshness and the built-up adrenaline within me whenever I get to have a sight on nature, make me proud; proud to the extent that I cry sometimes..actually most of the time. The culture of humans that we have been brought up has let us down; seriously. The culture to embrace the mother nature has been in shadow ever since the culture to achieve, envy and hurdle for so-called success that we might not get happy when we actually get it. So why wait..explore the world. Money counts but that does not mean you have to sacrifice your motive of life for that paper.
                                    Rara can be your next destination for this wholesome new adventure. I had been there with a couple of friends in 2017. I can still smile looking onto those memories I made there at Rara. The clean and shining water and the reflection of the mountains onto those crystal clear lake water was a sight I would never forget of. The wildness within that domesticated horses and the chirping of the birds under the canopy of those colorful trees was the best thing I ever witnessed. The steep walkthrough marching with my friends was an incredible moment that will remain till my last breath.
                                    Stop confusing yourself with money as a pursuit of life. Make memories. Money can wait while your life couldn't.
                                </p>
                                <hr class="d-none d-lg-block mb-0 ml-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Two Row -->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                    <img class="img-fluid" src="~/img/bg_inficare.jpeg" alt="">
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Friends -  Part of Life</h4>
                                <p class="mb-0 text-white-50">
                                    WhatIf humans were introvert? Single answer: Death. In my view, the only thing worthy of being human is that they are sociable. Unlike some who do not value the existence of the nearby people, we call them as friends. Once a stranger, next will be friends. The intent of socializing with other humans is the only thing human possess. Making friends is not hard as it seems to be. Believe me, social gestures like Namaste and a smile with greetings will do your work.The above picture reminds me of the good old times I got to spend with my friends. A night stay at Sunkoshi Beach Camp was a moment where we all took a moment of our life away from our hectic schedules and made a memorable one. The nightlong conversation about the future plans and the willingness to achieve something more in life were spilled out from each one of us. Although I am the youngest one from the group, I also delivered insights on my future goals and prejudice for the days to come. It was a hopeful and intriguing moment that will forever be engraved in my life. My humble reminder to all of you to take a break, give your self a time so that you could believe and reconstruct on the work that you always wanted to do.
                                </p>
                                <hr class="d-none d-lg-block mb-0 mr-0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Signup Section -->
    <section id="signup" class="signup-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-center">

                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

                    <form class="form-inline d-flex">
                        <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
                        <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
                    </form>

                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
        <div class="container">

            <div class="row">

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">Kuleshwor-12, Kantipur Colony, Kathmandu, Nepal</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">
                                <a href="#">impradp@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Phone</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">+977-9860125841</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="social d-flex justify-content-center">
                <a href="https://twitter.com/impradppuri" class="mx-2">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.facebook.com/impradppuri" class="mx-2">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://github.com/impradp" class="mx-2">
                    <i class="fab fa-github"></i>
                </a>
            </div>

        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
        <div class="container">
            Copyright &copy; WhatIf 2020
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/js/whatIf.min.js"></script>

</body>

</html>
